
<div class="container">
  <div class="cocktail-details">
    <%= image_tag @cocktail.image, alt: "alttext", class: 'cocktail-details-image' %>
    <div class="cocktail-details-text">
      <h1 class="cocktail-details-name"><%= @cocktail.name %></h1>
      <p class="cocktail-details-description"></p>
      <p class="cocktail-details-ingredients"></p>

    </div>
  </div>
</div>
