.barbooth {
  height: 40vh;
  background-image: asset-url('barbooth');
  background-position: center;
  background-size: cover;
  display:flex;
  flex-direction: column;
  // justify-content:center;
  align-items:center;


}

.barbooth a {
  font-size: 70px;
  color: white;
  margin: 20px;
}

.barbooth a:hover {
  color:black;
}
