.cards {
  display: flex;
  flex-wrap: wrap;
  height: 60vh;
  overflow: scroll;
}

.card {
  margin: 10px;
  min-width: 50px;
  max-height: 200px;


  .card-img-top {
    height: 60%;
    object-fit: cover;
  }
}
